.Box{
    margin-left: 42px;
    padding-bottom: 150px;
}
.title{
    font-size:22px;
    color:#000000;
    letter-spacing:2px;
    margin-bottom: 30px;
    margin-top: 0;
}
.text{
    columns: #666;
    font-size: 14px;
    line-height: 24px;
    letter-spacing:1px;
}
.timeBox{
    border-bottom: 1px solid #ddd;
    margin-top: 30px;
    padding-bottom: 20px;
    color: #999;
    font-size: 12px;
    margin-bottom: 50px;
}