
.about {
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.introduce-banner {
    margin-top: 100px;
}
.introduce-banner .stripe {
    display: inline-block;
    width: 12px;
    height: 4px;
    background-color: #ff5953;
    border-radius: 2px;
    margin-bottom: 5px;
}

.introduce-banner .title {
    font-family: "PingFang SC Regular";
    font-size: 22px;
    margin-left: 8px;
    margin-right: 8px;
}

.about>.introduce {
    width: 1000px;
    font-family: "PingFang SC Regular";
    font-size: 14px;
    color: #000000;
    line-height: 24px;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    margin-top: 45px;
}

.member-list {
    width: 1200px;
    overflow: hidden;
    margin-top: 50px;
}

.senior-list {
    width: 1300px;
    height: 744px;
}

.senior-card {
    width: 570px;
    height: 740px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 52px;
    box-shadow:0px 0px 2px 2px rgba(99, 99, 99, 0.2);
}

.senior-card .name-position-section {
    margin-left: 45px;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: left;
}
.senior-card .name {
    font-size: 28px;
    color: #000000;
    margin-right: 20px;
    vertical-align: bottom;
    line-height: 1.0;
}
.senior-card .position {
    font-size: 20px;
    color: #888888;
    vertical-align: bottom;
    line-height: 1.0;
}

.senior-card .resume {
    margin-left: 45px;
    margin-right: 45px;
    text-align: left;
    font-size: 20px;
    color: #555555;
}

.senior-card .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.medium-list {
    width: 1300px;
    height: 684px;
}

.medium-card {
    width: 390px;
    height: 680px;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 9px;
    box-shadow:0px 0px 2px 2px rgba(99, 99, 99, 0.2);
}

.medium-card .name-position-section {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: left;
}
.medium-card .name {
    font-size: 28px;
    color: #000000;
    margin-right: 20px;
    vertical-align: bottom;
    line-height: 1.0;
}
.medium-card .position {
    font-size: 20px;
    color: #888888;
    vertical-align: bottom;
    line-height: 1.0;
}

.medium-card .resume {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 20px;
    color: #555555;
}

.medium-card .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.partner-list {
    width: 1300px;
    height: 900px;
    margin-top: 50px;
}

.partner-card {
    float: left;
    width: 391px;
    height: 450px;
    margin-right: 12px;
}

.partner-card .partner-name {
    font-size: 22px;
    color: #000000;
    line-height: 1.0;
    margin-top: 30px;
    margin-bottom: 24px;
}

.partner-card .partner-thumb {
    display: block;
}
.partner-card .partner-achieve {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: #999999;
}