
.news-list {
    width: 996px;
    padding: 0;
    margin: 20px auto 150px auto;
}

.news * {
    margin: 0;
    padding: 0;
}

.news {
    height: 275px;
    width: 996px;
}

.blank {
    height: 10px;
    width: 996px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

.news .thumb-section {
    width: 308px;
    height: 275px;
    display: inline-block;
    float: left;
}

.news .thumb-section .thumb {
    width: 210px;
    height: 140px;
    display: inline-block;
    margin-left: 64px;
    margin-top: 68px;
}

.news .content-section {
    width: 688px;
    height: 275px;
    display: inline-block;
    float: left;
    position: relative;
}

.news .content-section .title {
    text-align: left;
    font-size: 22px;
    color: #000000;
    line-height: 1.0;
    display: inline-block;
    margin-top: 80px;
}

.news .content-section .summary {
    text-align: justify;
    font-size: 18px;
    color: #999999;
    line-height: 1.5;
    margin-top: 21px;
}

.news  .content-section .date-detail-wrapper {
    width: 100%;
    height: 20px;
    text-align: right;
    position: absolute;
    bottom: 45px;
}

.news  .content-section .date-detail-wrapper .date {
    font-size: 17px;
    color: #cccccc;
    display: inline;
    vertical-align: bottom;
    margin-right: 49px;
    line-height: 1.0;
}

.news .content-section .date-detail-wrapper .view-detail {
    font-size: 18px;
    color: rgba(255, 89, 83, 0.8);
    display: inline;
    vertical-align: middle;
    margin-right: 14px;
    line-height: 1.0;
}

.news .content-section .date-detail-wrapper .right-img {
    display: inline;
    vertical-align: middle;
}

.divider {
    width: 932px;
    height: 1px;
    background-color: #dddddd;
    position: relative;
    left: 64px;
}