

.news-main {
    position: relative;
    width: 1200px;
    margin: 30px auto 200px auto;
}

.news-main * {
    margin: 0;
    padding: 0;
    line-height: 1.0;
}

.news-detail-section {
    width: 800px;
    display: inline-block;
}


.news-detail-section .news-nav .nav-item {
    font-size: 16px;
    color: #666666;
}

.news-detail-section .news-title {
    font-size: 32px;
    line-height: 1.5;
    text-align: left;
    color: #000000;
    margin-top: 110px;
}

.news-detail-section .news-date {
    font-size: 20px;
    text-align: left;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 32px;
}

.news-detail-section .divider {
    height: 1px;
    background-color: #dddddd;
}

.news-main .news-detail-section .news-detail {
    margin-top: 50px;
    margin-bottom: 80px;
}

.news-main .news-detail-section .news-detail p,span {
    font-size: 16px;
    line-height: 2.0;
    color: #666666;
    text-align: justify;
}

.news-main .news-detail-section .news-detail p {
    margin: 40px 0;
}

.news-main .news-detail-section .news-detail h3 {
    font-size: 22px;
    color: #000000;
    margin: 40px 0;
}

.news-main .news-detail-section .news-detail h3.red {
    color: #ff5953;
}

.news-main .news-detail-section .news-detail a {
    color: #ff5953;
}

.news-main .news-detail-section .news-detail img {
}
.news-detail-section .next-news-com {
    margin-top: 50px;
    text-align: right;
    height: 45px;
    width: 800px;
}


.next-news-com .next-title-section {
    float: left;
    height: 45px;
    width: 776px;
}

.next-news-com .next-title-section .next-page {
    font-size: 20px;
    color: #666666;
}

.next-news-com .next-title-section .title-link{
    margin-top: 7px;
    font-size: 18px;
    color: #999999;
    display: block;
}

.next-news-com .next-img-section {
    float: left;
    height: 45px;
    width: 24px;
}

.next-img-section .next-img{
    display: inline-block;
    margin-top: 10px;
}




.news-detail-section  .pre-news-com {
    margin-top: 50px;
    text-align: left;
    height: 45px;
    width: 800px;
}

.pre-news-com .pre-img-section {
    float: left;
    height: 45px;
    width: 24px;
}

.pre-news-com .pre-img-section .pre-img{
    display: inline-block;
    margin-top: 10px;
}

.pre-news-com .pre-title-section {
    float: left;
    height: 45px;
    width: 776px;
}

.pre-news-com .pre-title-section .pre-page {
    font-size: 20px;
    color: #666666;
}

.pre-news-com .pre-title-section .title-link {
    margin-top: 7px;
    font-size: 18px;
    color: #999999;
    display: block;
}

.news-main .hot-com {
    display: inline-block;
    width: 280px;
    height: 280px;
    text-align: left;
    position: absolute;
    right: 0;
    top: 90px;
}

.news-main .hot-com .hot-img {
    display: inline-block;
    margin-right: 5px;
}

.news-main .hot-com .hot-header {
    display: inline-block;
    vertical-align: top;
    font-size: 22px;
    color: #000000;
}

.news-main .hot-com .divider {
    margin: 15px 0 28px 0;
    height: 1px;
    width: 100%;
    background-color: #dddddd;
}

.news-main .hot-com .hot-item {
    margin: 15px 0 0 0;
}

.news-main .hot-com .hot-item .hot-tri-img {
    position: relative;
    bottom: 2px;
}

.news-main .hot-com .hot-item .hot-title {
    display: inline-block;
    margin-left: 18px;
    font-size: 16px;
    color: #666666;
}

