
.ventureedu {
    position: absolute;
    box-shadow:0px 3px 5px #bbbbbb;
}

.ventureedu .thumb {
    width: 574px;
    height: 434px;
    display: block;
}

.ventureedu .title-section {
    height: 90px;
    text-align: left;
}

.ventureedu .title {
    display: inline-block;
    font-size: 28px;
    color: #000000;
    vertical-align: top;
    margin: 35px 0 0 45px;

}

.ventureedu .divider {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #888888;
    vertical-align: top;
    margin: 41px 15px 0 15px;
}

.ventureedu .subtitle {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    margin: 40px 0 0 0;

}

.ventureedu .summary {
    margin: 0 45px 0 45px;
    text-align: justify;
    color: #999999;
    font-size: 18px;
    font-family: "PingFang SC Medium";
}


.ventureedu .detail-txt {
    text-align: left;
    font-size: 21px;
    color: #666666;
    display: inline-block;
    position: absolute;
    right: 58px;
    bottom: 17px;
    line-height: 1.0;
}

.ventureedu .detail-txt .detail-link {
    color: #666666;
}

.ventureedu .detail-img {
    width: 10px;
    height: 18px;
    display: inline-block;
    position: absolute;
    right: 36px;
    bottom: 20px;
}

.ventureedu-list {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1198px;
    height: 1450px;
    margin-top: 50px;
    margin-bottom: 200px;
}