

.ventureedu-detail-main {
    width: 1196px;
    margin: 30px auto 200px auto;
    line-height: 1.0;
}

.ventureedu-detail {
}

.ventureedu-detail h3 {
    font-size: 24px;
    color: #000000;
    margin: 50px 0;
}

.ventureedu-detail h4 {
    font-size: 20px;
    color: #666666;
    margin: 10px 0;
}

.ventureedu-detail p {
    font-size: 16px;
    color: #666666;
    text-align: justify;
    margin: 10px 0;
    line-height: 2.0;
}

.ventureedu-nav {
    margin-bottom: 120px;
}
.ventureedu-nav .edu-link {
    color: #666666;
    font-size: 16px;
    color: #666666;
}

